<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <!-- Enlace a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a los estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/styles_reset_passwor.css') }}">

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/icol_logo.ico') }}"
      type="image/svg"
    />
</head>
<body>
    <div class="reset-container">
        <h3 class="text-center mb-4">Restablecer Contraseña</h3>
        <form id="resetPasswordForm">
            <!-- Correo Electrónico -->
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" required>
                <div class="form-alert text-danger">Ingresa un correo electrónico válido.</div>
            </div>
            <!-- Botón de Restablecer Contraseña -->
            <button type="submit" class="btn btn-primary w-100">Enviar Instrucciones</button>
            <div id="generalError" class="form-alert text-danger mt-2">Por favor, corrige los errores antes de continuar.</div>
        </form>
        <!-- Enlace para volver -->
        <div class="text-center mt-3">
            <a href="{{url_for('user.login')}}">¿Ya tienes una cuenta? Inicia Sesión</a>
        </div>
    </div>

    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Enlace al archivo de scripts -->
    <script src="{{ url_for('static', filename='js/user/scripts_reset_pasword.js') }}"></script>
</body>
</html>
