{% extends "base.html" %}

{% block titulo %} INICIO {% endblock %}


{% block content %}
<!-- ====== Hero Start ====== -->

  


  <!-- ====== About Start ====== -->
  <section id="about" class="ud-about">
    <div class="container mt-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         <div class="alert alert-dismissible fade show" role="alert">
           {% for category, message in messages %}
              <div class="alert alert-{{ category }} mb-3">{{ message }}</div>
           {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
     </div>
    <div class="container">
      <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
        <div class="ud-about-content-wrapper">
          <div class="ud-about-content">
            <span class="tag">Acerca de</span>
            <h2>Proyecto Tecno T@ctil.</h2>
            <p>
              Este proyecto nace con el objetivo de crear un espacio digital donde se
              presentes soluciones informáticas de alto valor a el mejor precio del mercado,
              desde una herramienta para trabajadores por cuenta propia hasta una herramienta
              para ingeniero eléctricos, a medida que se desarrollen nuevos proyectos serán 
              publicados dentro de la plataforma. Todo lo que se publique n esta web es 
              altamente revisada por un equipo de profesional altamente capacitados
            </p>

            <p>
              La informática y la inteligencia artificial a llegado para quedarse y eso ya es un hecho, 
              tenemos que unirnos a esta gran revolución.  Saludos y bendiciones todos.
            </p>
            <a href="javascript:void(0)" class="ud-main-btn">Manual de la web</a>
          </div>
        </div>
        <div class="ud-about-image">
          <img src="static/images/about/about-image.svg" alt="about-image" />
        </div>
      </div>
    </div>
  </section>
  <!-- ====== About End ====== -->

  <!-- ====== Pricing Start ====== -->
  <section id="pricing" class="ud-pricing">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-section-title mx-auto text-center">
            <span>Planes</span>
            <h2>Nuestros planes y precios</h2>
            <p>
              Le presentamos varias formas de suscribirse a nuestros planes
               y así provechas nuestras oportunidades de negocio.
            </p>
          </div>
        </div>
      </div>

      <div class="row g-0 align-items-center justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div
            class="ud-single-pricing first-item wow fadeInUp"
            data-wow-delay=".15s"
          >
            <div class="ud-pricing-header">
              <h3>Plan mensual</h3>
              <h4>$ 1000 CUP/mes</h4>
            </div>
            <div class="ud-pricing-body">
              <ul>
                <li>1 - Negocio TCP</li>
                <li>Actualizaciones gratis</li>
                <li>Reportes TCP directo</li>
                <li>Soporte en el uso</li>
              </ul>
            </div>
            <div class="ud-pricing-footer">
              <a href="javascript:void(0)" class="ud-main-btn ud-border-btn">
                Lo quiero
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div
            class="ud-single-pricing active wow fadeInUp"
            data-wow-delay=".1s"
          >
            <span class="ud-popular-tag">POPULAR</span>
            <div class="ud-pricing-header">
              <h3>Plan semestral</h3>
              <h4>$ 5000 CUP/6 meses</h4>
            </div>
            <div class="ud-pricing-body">
              <ul>
                <li>1 - Negocio TCP</li>
                <li>Actualizaciones gratis</li>
                <li>Reportes TCP directo</li>
                <li>Soporte en el uso</li>
                </ul>
            </div>
            <div class="ud-pricing-footer">
              <a href="javascript:void(0)" class="ud-main-btn ud-white-btn">
                Lo quiero
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div
            class="ud-single-pricing last-item wow fadeInUp"
            data-wow-delay=".15s"
          >
            <div class="ud-pricing-header">
              <h3>Plan anual</h3>
              <h4>$ 10000 CUP/ 12 meses</h4>
            </div>
            <div class="ud-pricing-body">
              <ul>
                <li>1 - Negocio TCP</li>
                <li>Actualizaciones gratis</li>
                <li>Reportes TCP directo</li>
                <li>Soporte en el uso</li>
              </ul>
            </div>
            <div class="ud-pricing-footer">
              <a href="javascript:void(0)" class="ud-main-btn ud-border-btn">
                Lo quiero
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Pricing End ====== -->

  <!-- ====== FAQ Start ====== -->
  <section id="faq" class="ud-faq">
    <div class="shape">
      <img src="static/images/faq/shape.svg" alt="shape" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-section-title text-center mx-auto">
            <span>Preguntas frecuentes</span>
            <h2>¿Tienes alguna pregunta?</h2>
            <p>
              Aquí te presentamos las principales preguntas
               que se hacen en la plataforma
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
            <div class="accordion">
              <button
                class="ud-faq-btn collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
              >
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>Como crear un negocio TCP?</span>
              </button>
              <div id="collapseOne" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
            <div class="accordion">
              <button
                class="ud-faq-btn collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
              >
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>How to download icons from Lineicons?</span>
              </button>
              <div id="collapseTwo" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
            <div class="accordion">
              <button
                class="ud-faq-btn collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
              >
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>Is GrayGrids part of UIdeck?</span>
              </button>
              <div id="collapseThree" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
            <div class="accordion">
              <button
                class="ud-faq-btn collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
              >
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>Can I use this template for commercial project?</span>
              </button>
              <div id="collapseFour" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
            <div class="accordion">
              <button
                class="ud-faq-btn collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
              >
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>Do you have plan releasing Play Pro?</span>
              </button>
              <div id="collapseFive" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
          <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
            <div class="accordion">
              <button
                class="ud-faq-btn collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
              >
                <span class="icon flex-shrink-0">
                  <i class="lni lni-chevron-down"></i>
                </span>
                <span>Where and how to host this template?</span>
              </button>
              <div id="collapseSix" class="accordion-collapse collapse">
                <div class="ud-faq-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== FAQ End ====== -->



  <!-- ====== Contact Start ====== -->
  <section id="contact" class="ud-contact">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-8 col-lg-7">
          <div class="ud-contact-content-wrapper">
            <div class="ud-contact-title">
              <span>Seccion de Contactos</span>
              <h2>
                Cuentame tu duda  <br />
                Nuestro equipo estara encantado de ayudarte 
              </h2>
            </div>
            <div class="ud-contact-info-wrapper">
              <div class="ud-single-info">
                <div class="ud-info-icon">
                  <i class="lni lni-map-marker"></i>
                </div>
                <div class="ud-info-meta">
                  <h5>Direccion</h5>
                  <p>Calle 46 #9122 entre 91A y 93 ,Loteria, Cotorro, La Habana, Cuba</p>
                </div>
              </div>
              <div class="ud-single-info">
                <div class="ud-info-icon">
                  <i class="lni lni-envelope"></i>
                </div>
                <div class="ud-info-meta">
                  <h5>Nuestros correos</h5>
                  <p>soporte@tecnotactil.com</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div
            class="ud-contact-form-wrapper wow fadeInUp"
            data-wow-delay=".2s"
          >
            <h3 class="ud-contact-form-title">Enviar un mensaje</h3>
            <form class="ud-contact-form">
              <div class="ud-form-group">
                <label for="fullName">Nombre Completo*</label>
                <input
                  type="text"
                  name="fullName"
                  placeholder="Perez Perez"
                />
              </div>
              <div class="ud-form-group">
                <label for="email">Correo*</label>
                <input
                  type="email"
                  name="email"
                  placeholder="example@tucorreo.com"
                />
              </div>
              <div class="ud-form-group">
                <label for="phone">Telefono*</label>
                <input
                  type="text"
                  name="phone"
                  placeholder="+53 12345678"
                />
              </div>
              <div class="ud-form-group">
                <label for="message">Mensaje*</label>
                <textarea
                  name="message"
                  rows="1"
                  placeholder="Escriba su mensaje aqui"
                ></textarea>
              </div>
              <div class="ud-form-group mb-0">
                <button type="submit" class="ud-main-btn">
                  Enviar Mensaje
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}