<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <!-- Enlace a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a los estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/styles_reset_passwor.css') }}">

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/icol_logo.ico') }}"
      type="image/svg"
    />
</head>
<body>
    <div class="reset-container">
        <h3 class="text-center mb-4">Escriba la nueva contraseña</h3>
           <form method="POST">
              <div class="mb-3">
                  <label for="password" class="form-label">Nueva contraseña:</label>
                  <input type="password" id="password" name="password" class="form-control" required>
                  </div>
               <button type="submit" class="btn btn-primary w-100">Actualizar contraseña</button>
           </form>
           {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="mt-2">
                   {% for category, message in messages %}
                       <div class="alert alert-{{ category }}">{{ message }}</div>
                   {% endfor %}
                </div>
              {% endif %}
           {% endwith %}
 <!-- Enlace para volver -->


<!-- Enlace a Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>