/* Fondo del menú de navegación */
.navbar {
    background-color: #6171fa; /* Azul fuerte */
    border-bottom: 3px solid #b1c5da; /* Línea inferior */
}

/* Color de texto en enlaces */
.navbar .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

/* Hover en los enlaces */
.navbar .nav-link:hover {
    color: #ffd700; /* Amarillo brillante */
}

/* Marca del proyecto */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

/* Botón toggler */
.navbar-toggler {
    border-color: #ffffff;
}

.dropdown-menu {
    background-color: #0066cc; /* Azul medio */
    border: none;
}

.dropdown-menu .dropdown-item {
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #004080; /* Azul oscuro */
    color: #cce7ff; /* Azul claro */
}

/* Estilo para la opción activa */
.navbar .nav-link.active {
    color: #ffffff; /* Blanco */
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}

.fixed-width-btn {
    width: 300px; /* Ajusta el ancho según lo necesites */
}