{% extends "base.html" %}

{% block titulo %} PERFIL {% endblock %}

{% block content %}
<section id="features" class="ud-features">
    <div class="container mt-4">
        <!-- Título y bienvenida -->
        <div class="row justify-content-center">
            <div class="col-md-10 text-center mb-4">
                <h1 class="text-primary">Bienvenido, {{ g.user.first_name }} {{ g.user.last_name }}</h1>
                <p class="text-secondary">Este es tu panel de administración de tu Negocio TCP</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert alert-dismissible fade show" role="alert">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} mb-3">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        
        <!-- Informacion del negocio-->
        <div class="row justify-content-center">
            <div class="col-md-10 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Información de Negocio</h5>
                        {% if negocio_tcp %}
                            <h2>Negocio asociado: {{ negocio_tcp.project_name }}</h2>
                            <p>Descripción: {{ negocio_tcp.description }}</p>
                            <p>Tipo de banco: {{ negocio_tcp.bank_type }}</p>
                            <p>Localisacion: {{ negocio_tcp.location }}</p>
                            <p>NIC: {{ negocio_tcp.nic }}</p>
                            <p>Direcion del Negocio: {{ negocio_tcp.business_address }}</p>
                        {% else %}
                            <p>No tienes un negocio asociado.</p>
                        {% endif %}
                    </div>                    
                </div>
            </div>
        </div>





        <!-- Opciones rapidas -->
        <div class="row">
            <!-- Información general del negocio -->
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Opciones rápidas</h5>
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('tcp.create_tcp_business') }}" class="text-primary">Actualizar Datos Negocio Actual</a></li>
                            <li><a href="{{ url_for('tcp.create_tcp_business') }}" class="text-primary">Crear un nuevo negocio</a></li>
                            <li><a href="#" class="text-primary">Facturas de Ventas</a></li>
                            <li><a href="#" class="text-primary">Facturas de Compras</a></li>
                            <li><a href="#" class="text-primary">Impuestos</a></li>
                            <li><a href="#" class="text-primary">Reportes</a></li>
                        </ul>
                    </div>                    
                </div>
            </div>

            <!-- Selección de negocios -->
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Seleccionar Negocio</h5>
                        {% if negocios %}
                            <select id="select-negocio" class="form-select">
                                <option value="" disabled selected>Selecciona un negocio</option>
                                {% for negocio in negocios %}
                                    <option value="{{ negocio.id }}">{{ negocio.project_name }}</option>
                                {% endfor %}
                            </select>
                            <button id="select-business-btn" class="btn btn-primary mt-3">Seleccionar</button>
                        {% else %}
                            <p>No tienes negocios asociados.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        

        <!-- Tabla de actividades recientes -->
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Últimas Operaciones</h5>
                        <select id="event-filter" class="form-select mb-3">
                            <option value="all">Todos</option>
                            <option value="login">Inicio de sesión</option>
                            <option value="update_profile">Actualización de perfil</option>
                            <option value="purchase">Compra</option>
                        </select>
                        <table id="operations-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Evento</th>
                                    <th>Descripción</th>
                                    <th>Fecha y Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Se llenará dinámicamente -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/user/profile.js') }}"></script>
{% endblock %}
