{% extends "email/base_email.html" %}

{% block content %}
    <h2>Restablecimiento de Contraseña</h2>
    <p>Hola, {{ usuario }}</p>
    <p>Recibimos una solicitud para restablecer tu contraseña. Si realizaste esta solicitud, haz clic en el botón de abajo para continuar:</p>
    <p style="text-align: center;">
        <a href="{{ reset_url }}" class="button">Restablecer Contraseña</a>
    </p>
    <p>Si no realizaste esta solicitud, puedes ignorar este correo de forma segura.</p>
    <p>Gracias,</p>
    <p>El equipo de Tecno T@ctil TCP</p>
{% endblock %}
