{% extends "base.html" %}

{% block content %}
<section id="features" class="ud-features">
<div class="container mt-5">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mb-3">{{ message }}</div>
                    {% endfor %}
                </div>
                  {% endif %}
                {% endwith %}
    <div class="card">
        <div class="card-header text-center">
            <h3><i class="fas fa-file-invoice-dollar"></i> Crear Factura de Venta</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label"><i class="fas fa-user icon"></i> Cliente:</label>
                    <select class="form-select" name="cliente_id">
                        {% for cliente in clientes %}
                        <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label class="form-label"><i class="fas fa-box-open icon"></i> Productos:</label>
                <div id="productos-container">
                    <div class="input-group mb-3 producto">
                        <select class="form-select" name="productos[]">
                            {% for producto in productos %}
                            <option value="{{ producto.id }}">{{ producto.nombre }} - Stock: {{ producto.stock }}</option>
                            {% endfor %}
                        </select>
                        <input type="number" name="cantidades[]" class="form-control" placeholder="Cantidad" required>
                        <button class="btn btn-danger" type="button" onclick="eliminarProducto(this)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>

                <button type="button" class="btn btn-secondary mb-3" onclick="agregarProducto()">
                    <i class="fas fa-plus"></i> Añadir producto
                </button>

                <button type="submit" class="btn btn-primary w-100">
                    <i class="fas fa-save"></i> Guardar Factura
                </button>
            </form>
        </div>
    </div>
</div>
</section>
<script>
    function agregarProducto() {
        var container = document.getElementById("productos-container");
        var div = document.createElement("div");
        div.classList.add("input-group", "mb-3", "producto");
        div.innerHTML = container.children[0].innerHTML;
        container.appendChild(div);
    }

    function eliminarProducto(btn) {
        btn.parentElement.remove();
    }
</script>
{% endblock %}